.Country {
  background-color: rgba(242, 247, 181, 0.658);
  width: 15vw;
  height: auto;
  /* display: inline-block; */
  box-shadow: 1px 2px 8px gray;
  color: #0f3dc3;
  margin-left: 55px;
  padding: 10px 10px;
  text-align: center;
  margin-top: 20px;
  z-index: 10;
  margin-bottom: 20px;
  cursor: pointer;
}

.Paragraph {
  font-size: medium;
  font-weight: bold;
  color: rgb(47, 10, 212);
}
span {
  color: rgb(156, 71, 71);
}
