.AddEditCountry {
  z-index: 100;
  width: 30vw;
  height: 265px;
  background-color: white;
  color: black;
  display: block;
  position: absolute;
  top: 30vh;
  left: 30vw;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 10px;
}
.BackDrop {
  background-color: lightgray;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0.85;
}
.AddEditButtonClass {
  margin-top: 20px;
  background: green;
  color: white;
  width: 80px;
  height: 35px;
  border-radius: 4px;
  float: right;
  border: 1px solid black;
  margin-right: 40px;
}
